@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
	font-display: swap;
}

body,
body * {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	max-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	cursor: crosshair;
	overflow: hidden;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

#map:active:hover {
	cursor: move;
}

#map:active:hover {
	cursor: move;
}

i.up {
	content: url('icons/upload.svg');
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

input {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	width: 80%;
	height: 30px;
	font-size: 1.3em;
}

.dragOver {
	/*TODO: Body style change on drag over and drop.*/
}

footer {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	width: min(550px, 95vw);
	height: 50px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	transition: all 0.5s ease-in-out;
}

.autoComplete_wrapper {
	margin: 0 auto;
	width: 75%;
}

input#js-stnInput {
	width: 90%;
	height: 48px;
	-webkit-box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.45);
	box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.45);
	border-radius: 50px;
	color: #000000;
	font-size: 1.25em;
	transition: all 0.33s ease-in-out;
}

input#js-stnInput::placeholder {
	color: #0098d4;
}

input#js-stnInput:focus::placeholder {
	color: #fcf7f7;
}

input#js-stnInput:focus {
	border-radius: 10px;
	background-color: #0098d4;
	color: #000000;
}

i {
	display: inline-block;
	background-color: white;
	width: 30px;
	height: 30px;
	padding: 10px;
	-webkit-box-shadow: -6px 4px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: -6px 4px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow: -6px 4px 12px 0px rgba(50, 50, 50, 0.75);
	border-radius: 50px;
	cursor: pointer;
}

i.menu {
	content: url('icons/menu.svg');
}

i.tube {
	content: url('icons/tfl.svg');
}

i.liz {
	content: url('icons/liz.svg');
}

i.info {
	content: url('icons/info.svg');
}

footer.aside-active {
	left: 330px;
}

.aside-out {
	left: 0;
}

aside {
	position: absolute;
	left: -330px;
	top: 0;
	width: 300px;
	height: 100vh;
	padding: 10px 10px 10px 10px;
	background: transparent;
	overflow-y: scroll;
	transition: all 0.5s ease-in-out;
}

aside .bubble {
	margin: 0 auto;
	width: 90%;
	height: auto;
	min-height: 50px;
	background-color: white;
	border-radius: 20px;
	padding: 25px 15px;
	margin: 7px 0;
	-webkit-box-shadow: 3px 0px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 3px 0px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 3px 0px 12px 0px rgba(50, 50, 50, 0.75);
}

aside .bubble:last-child {
	margin: 0 0 100px 0;
}

.pop {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 50%;
	height: 30px;
	min-width: 150px;
	transform: translate(-50%, 0);
	border-radius: 5px 5px 20px 20px;
	z-index: 9999;
}

.pop.confirm {
	background-color: #84b817;
}

.pop.error {
	color: white;
	background-color: #e32017;
}

.pop.info {
	background-color: #f3a9bb;
}

.dialog {
	display: none;
	position: absolute;
	top: 30%;
	left: 40%;
	padding: 20px;
	width: auto;
	height: auto;
	background: white;
}

.dialog.show {
	display: block;
}

.confirm-animate {
	-webkit-animation-name: confirmation;
	animation-name: confirmation;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

@keyframes confirmation {
	0% {
		background-color: initial;
	}

	50% {
		background-color: #95cdba;
	}

	100% {
		background-color: initial;
	}
}

@-webkit-keyframes confirmation {
	0% {
		background-color: #f1f3f4;
	}

	50% {
		background-color: #95cdba;
	}

	100% {
		background-color: #f1f3f4;
	}
}

/* Progress Bars */

/* Bakerloo */
#line-progress progress#bakerloo {
	accent-color: #b36305;
}

/* cable-car */
#line-progress progress#cable-car {
	accent-color: #e21836;
}

/* Central */
#line-progress progress#central {
	accent-color: #e32017;
}

/* Circle */
#line-progress progress#circle {
	accent-color: #ffd300;
}

/* District */
#line-progress progress#district {
	accent-color: #00782a;
}

/* DLR */
#line-progress progress#dlr {
	accent-color: #00a4a7;
}

/* Elizabeth */
#line-progress progress#elizabeth {
	accent-color: #7156a5;
}

/* Hammersmith & City */
#line-progress progress#hammersmith-city {
	accent-color: #f3a9bb;
}

/* Jubilee */
#line-progress progress#jubilee {
	accent-color: #a0a5a9;
}

/* Metropolitan */
#line-progress progress#metropolitan {
	accent-color: #9b0056;
}

/* Northern */
#line-progress progress#northern {
	accent-color: #000000;
}

/* Overground */
#line-progress progress#overground {
	accent-color: #ee7c0e;
}

/* Piccadilly */
#line-progress progress#piccadilly {
	accent-color: #003688;
}

/* Trams */
#line-progress progress#tram {
	accent-color: #84b817;
}

/* Victoria */
#line-progress progress#victoria {
	accent-color: #0098d4;
}

/* Waterloo & City */
#line-progress progress#waterloo-city {
	accent-color: #95cdba;
}
